@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	font-family:tahoma, arial;
}
a img {
	border:none;
}
#header {
	background:#lavender;
	height:15px;
}
.contentwrap {
	width:960px;
	margin:0 auto;
}
.leftpanel {
	background:#efeeea;
	width:260px;
	padding-bottom:40px;
	float:left;
}
.rightpanel {
	float:right;
	width:155px;
}
.clockwrap {
	background:#e4e4e4;
	font-size:28px;
	font-weight:bold;
	text-align:center;
	padding:40px 0;
	color:#817f7d;
}
.clockwrap span {
	font-weight:normal;
	padding:40px 0;
}
.eventwrap {
	background:#e4e4e4;
	padding:0 0 30px 5px;
	margin:20px 0;
}
.eventwrap h5 {
	padding:3px 2px;
	color:#575757;
	background:#bdbdbd;
	margin:0;
}
.event-p {
	font-size:12px;
	padding:5px;
}
.event-p p {
	padding:0 0 20px 0;
	margin:0;
}
.sbmt-button-1 {
	float:right;
	background:url(images/sbmt-button.png) repeat-x;
	height:15px;
	padding:2px 5px;
	text-align:center;
	margin-top:5px;
	font-size:12px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	margin-right:3px;
}
.sbmt-button-1 a {
	text-decoration:none;
	color:#9c9a9d;
	text-align:center
}
.sbmt-button-1 a span:hover {
	color:#54bee4;
}
.sbmt-button-1 a span {
	display:inline;
	color:#47a8cb;
}
.statusbar {
	background:url(images/statusbar.png) repeat-x;
	height:32px;
	width:155px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #128daf;
}
.bar {
	background:url(images/bar.png) repeat-x;
	min-width:6px;
	max-width:153px;
	height:32px;
	margin-left:1px;
}
.statustxt {
	font-size:12px;
	margin-left:5px;
}
.profile-img {
	padding:30px 0 30px 8px;
}
.profile-img img {
	border:3px #fefefe solid;
}
.sidepanel-link {
	background:url(images/sidepanel-link.png);
	width:250px;
	height:27px;
	font-size:12px;
	padding:12px 0 0 10px;
}
.sidepanel-link a img, .sidepanel-link a {
	border:none;
	text-decoration:none;
	color:#787878;
}
.sidepanel-link a:hover {
	text-decoration:underline;
}
.sidepanel-link span {
	color:#purple;
}
.icn {
	float:left;
	margin:0 5px 0 0;

}
.content-detail {
	width:525px;
	border-left:2px #e3e3e3 solid;
	border-bottom:2px #e3e3e3 solid;
	margin-left:270px;
}
.content-detail h1 {
	margin:0;
	padding:60px 0 0 10px;
	color:purple;
}
.content-detail h5 {
	margin:0 0 0 10px;
	padding:0;
	font-weight:normal;
	color:#969593;
	border-bottom:2px #a19e9d solid;
}
.statusbox {
	width:475px;
	height:80px;
	background:#e4e4e4;
	margin:20px 0 20px 10px;
	padding:10px 20px
}
.statusbox span {
	font-size:12px;
	font-weight:bolder;
	margin-bottom:3px;
	color:#797775;
	display:block;
}
.statusbox input {
	background:url(images/textbox.png) repeat-x ;
	border:2px solid #cccccd;
	width:472px;
	height:22px;
	outline:none;
}
.sbmt-button {
	float:right;
}
.sbmt-button {
	background:url(images/sbmt-button.png) repeat-x;
	height:24px;
	padding:8px 10px 0;
	text-align:center;
	margin-top:5px;
	font-size:12px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.sbmt-button a {
	text-decoration:none;
	color:lavender;
	text-align:center
}
.sbmt-button a span:hover {
	color:lavender;
}
.sbmt-button a span {
	display:inline;
	color:pink;
}
.updatebox {
	width:515px;
	min-height:60px;
	margin:20px 0 20px 10px;
	padding-bottom:10px;
	border-bottom:1px #bfbfbf solid;
}
.thumb-img {
	width:70px;
	height:70px;
	float:left;
	overflow:hidden;
}
.thumb-img img {
	margin:0 auto;
}
.update-content {
	margin-left:80px;
}
.update-content h1 {
	font-size:14px;
	color:purple
	margin:0;
	padding:0;
}
.update-content p {
	padding:5px 5px 5px 0;
	margin:0;
	font-size:12px;
}
.timedate {
	font-size:12px;
	color:#b1b1b1;
	display:inline;
}
.update-content span {
	color:#9c9a9d;
}
.update-content span strong a {
	font-size:12px;
	text-decoration:none;
	color:#8b8b8b;
}
.update-content span strong a span {
	color:purple;
}
